@{
}
<h1>入校登記</h1>
<form>
    <div class="mb-3">
        <label  class="form-label">電話</label>
        <input type="text" class="form-control" v-model="phoneNumber">
    </div>
    <div class="mb-3">
        <label class="form-label">姓名</label>
        <input type="text" class="form-control"  v-model="fullName">
    </div>
    <div class="mb-3">
        <label  class="form-label">人數</label>
        <input type="number" class="form-control"  v-model="numberOfPeople">
    </div>
    <div class="mb-3">
        <label  class="form-label">受訪人</label>
        <input type="text" class="form-control" v-model="interviewee">
    </div>
    <div class="mb-3">
        <label class="form-label">事由</label>
        @foreach (var option in ViewBag.PurposeOptions)
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" v-model="purpose" :value="@option.Key">
                <label class="form-check-label" for="reason1">@option.Name</label>
            </div>
        }
        <div class="form-check form-check-inline col">
            <input type="text" class="form-control" v-model="otherDescription" placeholder="其他說明">
        </div>
    </div>
    
    <div class="mb-3">
        <label class="form-label">說明</label>
        <textarea class="form-control" v-model="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label  class="form-label">備註</label>
        <textarea class="form-control" v-model="note" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label  class="form-label">換證號碼</label>
        <input type="text" class="form-control" v-model="replacementNumber">
    </div>
    <div class="mb-3">
        <label for="entryTime" class="form-label">入校時間</label>
        <input type="text" class="form-control" id="entryTime" v-model="entryTime">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <pre>{{$data}}</pre>
</form>
@section scripts{
    <script>
        window.app = new Vue({
            el: '#app',
            data: {
                toast_msg: '',//系統訊息固定 #liveToast
               datas:{
                    phoneNumber: '',
                    fullName: '',
                    numberOfPeople: '',
                    interviewee: 0,
                    purpose: '',
                    otherDescription: '',
                    description: '',
                    note: '',
                    replacementNumber: '',
                    entryTime: ''
               }
            },
            methods: {
                toastMsg(msg) {
                    this.toast_msg = msg;
                    $('#liveToast').toast('show');
                },
                submitForm() {
                    
                }
            },
            created() { },
            mounted() {
                // Initialize datepicker
                // this.toastMsg('123')
                $('#entryTime').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    todayHighlight: true
                });
            },
        });
    </script>
}