@{
    var isAuthenticated = User.Identity.IsAuthenticated;
}
<h1 style="margin-top: 2rem;">
    入校登記 @* <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
        <path d="M2 2h2v2H2z" />
        <path d="M6 0v6H0V0zM5 1H1v4h4zM4 12H2v2h2z" />
        <path d="M6 10v6H0v-6zm-5 1v4h4v-4zm11-9h2v2h-2z" />
        <path d="M10 0v6h6V0zm5 1v4h-4V1zM8 1V0h1v2H8v2H7V1zm0 5V4h1v2zM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8zm0 0v1H2V8H1v1H0V7h3v1zm10 1h-1V7h1zm-1 0h-1v2h2v-1h-1zm-4 0h2v1h-1v1h-1zm2 3v-1h-1v1h-1v1H9v1h3v-2zm0 0h3v1h-2v1h-1zm-4-1v1h1v-2H7v1z" />
        <path d="M7 12h1v3h4v1H7zm9 2v2h-3v-1h2v-1z" />
    </svg> *@
</h1>

<template>
    <form >
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-4">
                <div class="form-group" v-if="!userIsAuthenticated">
                    <label class="form-label" >校區</label>
                    <select class="form-select" v-model="datas.campusId">
                        <option :value="null">請選擇校區</option>
                        <option v-for="campus in campuses" :value="campus.id">{{ campus.campusName }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">姓名</label>
                    <input type="text" class="form-control" v-model="datas.fullName">
                </div>
                <div class="mb-3">
                    <label class="form-label">電話</label>
                    <input type="text" class="form-control" v-model="$data.datas.phoneNumber">
                </div>
                <div class="mb-3">
                    <label class="form-label">人數</label>
                    <input type="number" class="form-control" v-model.number="datas.numberOfPeople">
                </div>
                <div class="mb-3">
                    <label class="form-label">受訪人</label>
                    <input type="text" class="form-control" v-model="datas.interviewee">
                </div>
            </div>

            <!-- Right Column -->
            <div class="col-md-8">
                <div class="mb-3">
                    <label class="form-label">事由 : </label>
                    @foreach (var option in ViewBag.PurposeOptions)
                    {
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" v-model="datas.purpose" :value="@option.Key">
                            <span class="form-check-label" for="reason1">@option.Name</span>
                        </label>
                    }
                    <div class="form-check form-check-inline col">
                        <input type="text" class="form-control" v-model="datas.otherDescription" placeholder="其他說明">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">備註</label>
                    <textarea class="form-control" v-model="datas.note" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">換證號碼</label>
                    <input type="text" class="form-control" v-model="datas.replacementNumber">
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="entryTime" class="form-label">入校日期</label>
                        <input type="text" class="form-control" id="entryTime" v-model="entryTime" v-on:change="combineEntryTime">
                        <button type="button" class="btn btn-sm btn-outline-primary" v-on:click="setCurrentDateTime">帶入現在時間</button>
                    </div>
                    <div class="col-4">
                        <label for="entryTime" class="form-label">入校時間</label>
                        <div class="input-group">
                            <input type="number" class="form-control" 
                                   v-model.number="entryHour" v-on:change="combineEntryTime">
                            <input type="number" class="form-control" 
                                   v-model.number="entryMin" v-on:change="combineEntryTime">
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" v-on:click="submitForm"> 送出</button>
        </div>
        <div class="row">
            <table class="table table-striped border mt-2" v-if="userIsAuthenticated">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>電話</th>
                        <th>人數</th>
                        <th>受訪人</th>
                        <th>事由</th>
                        <th>備註</th>
                        <th>換證號碼</th>
                        <th>入校時間</th>
                        <th>離校時間</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="log in entryLogs" :key="log.id">
                        <td>{{ log.fullName }}</td>
                        <td>{{ log.phoneNumber }}</td>
                        <td class="text-center">{{ log.numberOfPeople }}</td>
                        <td>{{ log.interviewee }}</td>
                        <td>{{ findPurpose(log.purpose) }}</td>
                        <td>{{ log.note }}</td>
                        <td>{{ log.replacementNumber }}</td>
                        <td>
                            <b>{{ formatDate(log.entryTime) }}</b>
                        </td>
                        <td>
                            <b v-if="log.exitTime">
                                {{ formatDate(log.exitTime) }}
                            </b>
                            <bottom type="bottom" class="btn btn-danger text-white" v-else>
                                紀錄離校時間
                            </bottom>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</template>


@section scripts{
    <script>
        var isAuthenticated = @isAuthenticated.ToString().ToLower();
    </script>
    <script>

        window.app = new Vue({  
            el: '#app',
            components: {
                //VueNumeric
            },
            watch: {
                'entryHour': function (newVal) {
                    if (newVal < 0) {
                        this.entryHour = 0;
                    } else if (newVal > 23) {
                        this.entryHour = 23;
                    }
                },
                'entryMin': function (newVal)  {
                    if (newVal < 0) {
                        this.entryMin = 0;
                    } else if (newVal > 59) {
                        this.entryMin = 59;
                    }
                }
            },
            data: {
                toast_msg: '',//系統訊息固定 #liveToast
                userIsAuthenticated: isAuthenticated, //用頁面判斷是否為登入
                enums: {
                    purposes: [],
                },
                campuses: [],
                params: {
                    FullName: null,
                    Purpose: null,
                    EntryTimeStart: null,
                    EntryTimeEnd: null,
                    
                },
                entryLogs: [], // 存放返回的 entryLogs
                entryTime: null,
                entryHour: 0,
                entryMin: 0,
                datas:{
                    campusId: null,
                    phoneNumber: null,
                    fullName: '',
                    numberOfPeople: 0,
                    interviewee: '',//受訪人
                    purpose: '',
                    otherDescription: '',
                    note: '',
                    replacementNumber: '',
                    entryTime: null,
                    exitDate: null,
               }
            },
            methods: {
                toastMsg(msg) {
                    this.toast_msg = msg;
                    $('#liveToast').toast('show');
                },
                setCurrentDateTime() {
                    const now = moment();
                    this.entryTime = now.format('YYYY-MM-DD');
                    this.entryHour = now.hour();
                    this.entryMin = now.minute();
                    this.combineEntryTime(); // 合併時間並更新 datas.entryTime
                },
                combineEntryTime() {
                    if (this.entryTime) {
                        const combinedTime = `${this.entryTime} ${String(this.entryHour).padStart(2, '0')}:${String(this.entryMin).padStart(2, '0')}:00`;
                        this.datas.entryTime = moment(combinedTime, 'YYYY-MM-DD HH:mm:ss').format('YYYY-MM-DDTHH:mm:ss');
                    } else {
                        this.datas.entryTime = null;
                    }
                },
                async submitForm() {
                    const tt = JSON.parse(JSON.stringify(this.datas));

                    //之後再加入驗證
                    try {
                        const response =
                            await axios.post(`${window.appRoot.full}api/Entry/Update`, tt).then((res) => {
                                //const { data } = res;
                                alert('提交成功');
                            });
                        this.searchLogList();
                    } catch (error) {
                        console.error('提交失敗:', error);
                        alert('提交失敗');
                    }
                },
                async getCampuses() {
                    // 發送 AJAX GET 請求以獲取所有校區數據
                    const res = await axios.get(`${window.appRoot.full}Api/Account/GetAllCampuses`)
                    this.campuses = res.data
                },
                async fetchEnum() {
                    const res = await axios.get(`${window.appRoot.full}Api/Common/EnumList`);
                    this.enums = res.data;
                },
                async searchLogList() {
                    const params = this.params;
                    const today = moment().format('YYYY-MM-DD');
                    params.EntryTimeStart = moment(today).startOf('day').format('YYYY-MM-DD HH:mm:ss');
                    params.EntryTimeEnd = moment(today).endOf('day').format('YYYY-MM-DD HH:mm:ss');
                    params.ExitTimeStart = null;
                    params.ExitTimeEnd = null;
                    console.log(params)
                    // 發送帶有搜索參數的 GET 請求到 API
                    const res = await axios.get(`${window.appRoot.full}Api/Entry/EntryLogList`, { params });
                    // 更新 entryLogs 數據

                    this.entryLogs = res.data;
                },
                datapickerInit() {
                    const vm = this;
                    $('#entryTime').datepicker({
                        format: 'yyyy-mm-dd',
                        autoclose: true,
                        todayHighlight: true
                    }).on('changeDate', function (e) {
                        vm.entryTime = e.format(0, 'yyyy-mm-dd');
                        vm.combineEntryTime()
                    });
                },
                formatDate(date) {
                    return moment(date).format('YYYY-MM-DD HH:mm:ss');
                },
                findPurpose(val) {
                    if (this.enums.purposes.length > 0 && val) {
                        const tt = this.enums.purposes.find(x => x.key == val);
                        if (tt) {
                            return tt.name;
                        }
                        return '無';
                    }
                },
            },
            created() { },
            async mounted() {
                // Initialize datepicker
                // this.toastMsg('123')

                await this.fetchEnum();
                await this.getCampuses();
                await this.searchLogList();
                datapickerInit();

            },
        });
    </script>
}